*{
    box-sizing: border-box;
}

.banerImage{
    background: url('../images/gaming-2215601_1920.jpg') ;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    opacity: 1;

    /*conferir opacidade*/
    
}
.text-banner{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.butao{

    border-color: white;

}
.butao:hover{
    background-color:#fca402 ;
    text-shadow: 2px 2px black;
    color: white;
    border-color: white;
}
.services-text{
    font-weight: bold !important;
}
.circ{
    border-radius: 50%;
    background-color: #fca402;
}
.bg{
    background-color: rgb(223, 223, 223);
}
.timeline{
    position: relative;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul{
    margin: 0;
    padding: 0;
}
.timeline ul li{
    list-style: nome;
    position: relative;
    width: 50%;
    padding: 20px 40px;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
    list-style-type: none;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
    list-style-type: none;
}
.content{
    padding-bottom:20px;
    padding:  10px 10px;
    
}
.timeline-img:nth-child(odd){
    position: absolute;
    
}
.timeline-img:nth-child(even){
    position: absolute;
    
}
