*{
    box-sizing: border-box;
}

.banerImage{
    background: url('../images/gaming-2215601_1920.jpg') ;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    opacity: 1;

    /*conferir opacidade*/
    
}
.text-banner{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.butao{

    border-color: white;

}
.butao:hover{
    background-color:#fca402 ;
    text-shadow: 2px 2px black;
    color: white;
    border-color: white;
}
.icons{
    
}